/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
  &kp TAB       &kp Q        &kp W           &kp E             &kp R          &kp T        &kp Y              &kp U            &kp I        &kp O               &kp P   &kp BSPC
    &mo 4  &mt A LGUI  &mt S LCTRL  &mt D LEFT_ALT  &mt F LEFT_SHIFT          &kp G        &kp H  &mt J RIGHT_SHIFT  &mt K RIGHT_ALT  &mt L LCTRL  &mt SEMI RIGHT_GUI    &kp SQT
&kp LSHFT       &kp Z        &kp X           &kp C             &kp V          &kp B        &kp N              &kp M        &kp COMMA      &kp DOT            &kp FSLH  &kp ENTER
                                        &kp ESCAPE       &lt 2 MINUS  &kp BACKSPACE    &kp SPACE        &lt 1 EQUAL     &lt 3 DELETE
            >;
        };

        Num {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3        &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6        &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9        &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                      &kp PERIOD  &kp NUMBER_0  &trans    &trans  &trans  &trans
            >;
        };

        Nav {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &kp HOME    &kp UP_ARROW          &kp END    &kp PAGE_UP  &trans
 &mo 5  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans           &trans         &trans  &trans
                        &trans  &trans  &trans    &trans          &trans          &trans
            >;
        };

        Func {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans   &trans  &trans    &trans  &trans  &trans
            >;
        };

        Symbol {
            bindings = <
&kp GRAVE  &trans  &trans        &kp LEFT_BRACE        &kp RIGHT_BRACE  &trans    &trans  &trans             &trans           &trans            &trans  &kp BACKSLASH
   &trans  &trans  &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans    &trans  &trans             &trans           &trans            &trans         &trans
   &trans  &trans  &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET  &trans    &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PLAY_PAUSE         &trans
                                         &trans                  &mo 5  &trans    &trans  &trans             &trans
            >;
        };

        Blue {
            bindings = <
&trans        &trans        &trans        &trans        &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 4  &trans    &bt BT_CLR  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans
                                          &trans        &trans  &trans        &trans  &trans  &trans
            >;
        };
    };
};
